body{
    margin: 10px;
    padding: 10px;
    background-color: blanchedalmond;
}
#div1{
    margin: 8px;
    padding: 5px;
    background-color: rgb(74, 205, 205);
    width: 100vw;
    height: 100px;
    border-radius: 5px;
}
#section2{
    background-color: rgb(74, 205, 205);
    border-radius: 5px;
    padding: 5px;
    margin: 8px;
    height: 500px;
    width: 200px;
}