body{
    background-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#attribute-selectors{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #dec6c6;
    text-align: center;
    
}
h2 {
    color: #333;
    background-color:yellow;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 18px;
    border-radius: 7px;
}    
input[type="text"] {
    border: 4px solid #98731d;
    padding: 5px;
    font-size: 16px;
    border-radius: 7px;
}
input[type="email"] {
    border: 4px solid #34a6b8;
    padding: 5px;
    font-size: 16px;
    border-radius: 7px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    
}
#combinator-selectors{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #dec6c6;
    
}
h2 {
    color: #333;
    background-color: yellow;
    text-align: center;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #3226df;
}   
a {
    color: #ff0000;
    text-decoration: none;
}
#quiz{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #dec6c6;
color: #ff0000;
}
#quiz h2 {
    background-color: yellow;
    text-align: center;
}
#references{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #dec6c6;
    
}